@media (max-width: 650px) {
    .footer {

        &__left {
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &__right {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 40px;
        }
    }
}