.course-cards {
    .trend {
        &__up {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 41px !important;
        }

        &__heading {
            margin-bottom: 0 !important;
            @include heading($fs: 48px)
        }

        &__btns {
            gap: 40px;
            display: flex;
        }

        &__filter {
            @include btn($color: #FFF5F9, $fcolor: $pink, $pt: 0px, $pl: 40px);

            &:hover {
                background-color: $pink
            }
        }

        &__popular {
            @include btn($pt: 14px, $pl: 44px);
        }

        &__cards {
            grid-template-columns: repeat(3, 295px);
        }

        &__wrapper {
            width: 100%;
            display: grid;
            grid-template-columns: 275px auto;
            gap: 32px;
        }

        &__side {
            padding-right: 32px;
            border-right: 1px solid #CCC;
            display: flex;
            flex-direction: column;
            gap: 32px;

            &>div {
                display: flex;
                flex-direction: column;

                &>button {
                    background-color: transparent;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: $blue;
                    font-family: 'Rubik', sans-serif;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32px;

                    &:active {
                        transform: scale(1);
                    }
                }

                &>ul {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    padding-bottom: 32px !important;
                    border-bottom: 1px solid #CCC;

                    &>li {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        &>label {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            font-family: 'Montserrat', sans-serif;

                            &>span {
                                color: #808080;
                            }
                        }
                    }

                    &>li:last-child {
                        &>button {
                            font-family: 'Montserrat', sans-serif;
                            background-color: transparent;
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 32px;
                            color: $blue;

                            &:active {
                                transform: scale(1);
                            }
                        }
                    }
                }

                &:last-child {
                    &>ul {
                        border-bottom: none;
                    }
                }

                &:nth-child(2) {
                    &>ul {
                        padding-bottom: 28px !important;
                    }
                }

                &:nth-child(3) {
                    &>ul {
                        padding-bottom: 24px !important;
                    }
                }

                &:nth-child(4) {
                    &>ul {
                        padding-bottom: 28px !important;
                    }
                }

                &:nth-child(5) {
                    &>ul {
                        padding-bottom: 27px !important;
                    }
                }

                &:nth-child(6) {
                    &>ul {
                        padding-bottom: 26px !important;
                    }
                }
            }

            &__rating {
                gap: 16px;

                &__list {

                    &>li {

                        &>label {
                            font-size: 14px;
                            line-height: 24px;


                            &>ul {
                                display: flex;
                                align-items: center;
                                gap: 4px;
                                color: #FAA307;
                            }

                            &>h5 {
                                color: $blue;
                            }

                            &>span {
                                color: #808080;
                            }
                        }
                    }
                }
            }

            &__duration {
                gap: 20px;

                &__list {
                    &>li {
                        &>label {
                            &>h5 {
                                font-size: 16px;
                                color: $blue;
                                line-height: 32px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }

        &__pagination {
            margin-top: 20px !important;
            justify-content: center;
            grid-column: 2 / 3;
            gap: 16px;
            align-items: center;
            display: flex;

            &>li {
                &>a {
                    color: #CCC;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 32px;
                    text-decoration: none;
                    padding: 5px 13px !important;
                    border-radius: 4px;

                    &:hover {
                        background-color: $pink;
                        color: white;
                        cursor: pointer;
                    }
                }
            }

            .active {
                &>a {
                    color: white;
                    background-color: $pink;
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .course-cards {
        .trend {
            &__cards {
                grid-template-columns: repeat(2, 1fr);
            }

            &__pagination {
                grid-column: 1 / 3;
            }
        }
    }
}

@media (max-width: 1200px) {
    .course-cards {
        .trend {

            &__wrapper {
                grid-template-columns: 1fr 3fr;
            }
        }
    }
}