@media (max-width: 1000px) {
    .blog {

        &__cards {
            &__card {

                &>div {
                    &>h3 {
                        margin-bottom: 8px !important;
                        @include heading($fs: 28px, $lh: 36px)
                    }

                    &>div {
                        margin-bottom: 8px !important;
                    }

                    &>p {
                        margin-bottom: 32px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .blog {

        &__cards {
            align-items: center;

            &__card {
                grid-template-columns: 1fr;
                max-width: 500px;
                gap: 32px;
                align-items: center;
                text-align: center;

                &>img {
                    max-height: 300px;
                }

                &>div {
                    align-items: center;

                    &>div {
                        justify-content: center;
                        align-items: center;
                    }

                    &>button {
                        align-self: center;
                        justify-self: center;
                    }
                }
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
        }
    }
}