@media (max-width: 1000px) {
    .expert-header {
        .header {
            &__nav {
                margin-bottom: 4px !important;
            }

            &__navigate {
                margin-bottom: 44px;

                &>a,
                &>h5 {
                    font-size: 14px;
                }
            }

            &__content {
                max-width: 602px;
            }

            &__heading {
                font-size: 40px;
            }

            &__rating {
                margin-bottom: 24px !important;

                &>span:nth-child(2) {
                    font-size: 20px;
                }
            }

            &__author {
                &>h4 {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .expert-header {
        .header {

            &__navigate {
                margin-bottom: 34px;

                &>a,
                &>h5 {
                    font-size: 13px;
                }
            }

            &__content {
                max-width: 572px;
            }

            &__heading {
                font-size: 38px;
            }

            &__rating {
                margin-bottom: 18px !important;

                &>span:nth-child(2) {
                    font-size: 18px;
                }
            }

            &__author {
                &>h4 {
                    font-size: 18px;
                }
            }
        }
    }
}